{
  "trailingComma": "es5",
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "semi": true,
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["cn"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
